auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 19095

common:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /tmp/loki

schema_config:
  configs:
  - from: 2025-06-25
    store: tsdb
    object_store: filesystem
    schema: v13
    index:
      prefix: index_
      period: 24h

storage_config:
  filesystem:
    directory: /var/loki/chunks

limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 48h

#memberlist:
#  bind_addr: ${LOKI_BIND_ADDR}
#  join_members:
#    - ${LOKI_BIND_ADDR}
