---
- name: Ensure nginx user exists
  ansible.builtin.user:
    name: "{{ nginx_user }}"
    system: true
    shell: /usr/sbin/nologin
    create_home: false

- name: Ensure OpenResty directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop:
    - "{{ openresty_src_dir }}"
    - "{{ nginx_conf_dir }}"
    - "{{ nginx_conf_d_dir }}"
    - "{{ nginx_stream_dir }}"
    - "{{ geoip_data_dir }}"
    - "/var/log/nginx"

- name: Deploy nginx.conf
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: "{{ nginx_conf_dir }}/nginx.conf"

- name: Deploy frontend config
  ansible.builtin.template:
    src: frontend.conf.j2
    dest: "{{ nginx_conf_d_dir }}/frontend.conf"
  notify: Restart nginx

- name: Deploy backend config
  ansible.builtin.template:
    src: backend.conf.j2
    dest: "{{ nginx_conf_d_dir }}/backend.conf"
  notify: Restart nginx

- name: Deploy parser config
  ansible.builtin.template:
    src: parser.conf.j2
    dest: "{{ nginx_conf_d_dir }}/parser.conf"
  notify: Restart nginx
